<div class="row">
    {{ form_start(form) }}
    <div class="col-xl-8">
        <div class="card mb-4">
            <div class="card-header">
                Fiche Manager                                            
            </div>
            <div class="card-body">
                <hr>
                <h6> Fiche User </h6>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.Email, 'Email', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.Email, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.Email) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.ref, 'Reférence', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.ref, {'attr':{'class':'form-control' }}) }}  
                    </div>                            
                    <div class="invalid-feedback">
                        {{ form_errors(form.ref) }}
                    </div>
                </div>{% if manager.id is null or app.user.id == manager.id %}
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">                                
                        {{ form_row(form.password.first, {'attr':{'required':'true' }})}}  
                        {{ form_row(form.password.second, {'attr':{'required':'true' }})}}                      </div>                            
                    <div class="invalid-feedback">
                        {{ form_errors(form.password) }}
                    </div>
                </div>
                {% else %}
                <div hidden>
                    {{ form_widget(form.password) }}
                </div>
                {% endif %}
                <hr>
                <h6> Fiche Manager </h6>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.nom, 'Nom', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.nom, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.nom) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.prenom, 'Prenom', {'label_attr':{'class':'small mb-1' }}) }}                                    
                        {{ form_widget(form.prenom, {'attr':{'class':'form-control' }}) }}       
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.prenom) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.numTel, 'Phone number', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.numTel, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.numTel) }}
                    </div>
                </div>
                 <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.cin, 'CIN', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.cin, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.cin) }}
                    </div>
                </div>
                
                <button class="btn btn-outline-primary">
                        {{ button_label|default('Sauvegarder') }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
