{{ form_start(form) }}
<div class="row">
    <div class="col-xl-8">
        <div class="card mb-4">
            <div class="card-header">
                Fiche Application                                            
            </div>
            <div class="card-body">
            
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.nom, 'Nom', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.nom, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.nom) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.secret, 'Secret', {'label_attr':{'class':'small mb-1' }}) }}                                    
                        {{ form_widget(form.secret, {'attr':{'class':'form-control' }}) }}       
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.secret) }}
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                        {{ form_label(form.active, 'Active ?', {'label_attr':{'class':'small mb-1' }}) }}                                   
                        {{ form_widget(form.active, {'attr':{'class':'form-control' }}) }}                               
                    </div>
                    <div class="invalid-feedback">
                        {{ form_errors(form.active) }}
                    </div>
                </div>

               
                <button class="btn btn-outline-primary">
                        {{ button_label|default('Sauvegarder') }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>