{% extends "base.html.twig" %}
{% block content %}
    <main>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="background-color: red;">
            <div class="container-fluid px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon">
                                    <i data-feather="bookmark"></i>
                                </div>
                                Liste des Applications                        
                            </h1>
                        </div>
                        <div class="col-12 col-xl-auto mb-3">
                            <a class="btn btn-sm btn-light text-primary" href="{{ path('app_application_new') }}">
                                <i class="me-1" data-feather="plus"></i>
                                Ajouter Application                                                                                    
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-fluid px-4">
            <div class="card">
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <tr>
                                    <th>Nom</th>
                                    <th>Active</th>
                                    <th>Date de Création</th>
                                    <th></th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody>
                            {% for application in applications %}
                                <tr>
                                    <td>{{ application.nom }}</td>
                                    <td>{{ application.active ? 'Oui' : 'Non' }}</td>
                                    <td>{{ application.createdat|date('m/d/Y') }}</td>
                                    <td>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="{{ path('app_application_show', {'id': application.id}) }}">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="{{ path('app_application_edit', {'id': application.id}) }}">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2">
                                            {{ include('application/_delete_form.html.twig') }}
                                        </a>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="9">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
