{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}
<main>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="background-color: red;">
            <div class="container-xl px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="bookmark"></i></div>
                                {{ application.nom }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4 mt-4">
            <div class="row">
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Fiche Application</div>
                        <div class="card-body">
                            <!-- Form Row-->
                            
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Nom</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ application.nom }}</p>
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Date de Création</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ application.createdat|date('m/d/Y') }}</p>
                                    <hr>  
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Secret</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ application.secret }}</p>
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Active</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ application.active ? 'Oui' : 'Non' }}</p>
                                    <hr>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}
