<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    {% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('blog/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('blog/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('blog/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('blog/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('blog/style.css') }}">
    <link rel="stylesheet" href="{{ asset('blog/responsive.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js" defer></script>

    {% endblock %}
    {% block style %}
    {% endblock %}

</head>

<body>
        {% block content %}

        {% endblock %}
</body>

    {% block javascripts %}
    <script src="{{ asset('blog/js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('blog/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('blog/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('blog/js/active.js') }}"></script>
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
    {% endblock %}
</html>




