{% extends 'base.html.twig' %}

{% block title %}Adherant{% endblock %}

{% block content %}
<main>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10" style="background-color: red;">
            <div class="container-xl px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="user-plus"></i></div>
                                {{ user.Email }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4 mt-4">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Fiche User</div>
                        <div class="card-body">
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Email</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ user.Email }}</p>
                                    <hr>  
                                </div>
                                <div class="col-md-6">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Référence</h2>
                                    <p class=" mb-1" for="inputFirstName">{{ user.ref }}</p>
                                    <hr>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-12">
                                    <hr>
                                    <h2 class="small mb-1" for="inputFirstName">Roles</h2>
                                    <p class=" mb-1" for="inputFirstName">|| {% for role in user.roles|keys %}{{ role }} || {% endfor %}</p>
                                    <hr>  
                                </div>
                            </div>
                            {% if app.user.roles['ROLE_ADMIN'] is defined or app.user.roles['ROLE_MASTER'] is defined %}
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="row">
                                    <div class="col-6">
                                        <a class="btn btn-outline-warning" href="{{ path('app_user_edit',{'id' : user.id}) }}" style="float:left">Modifier</a>                            
                                    </div>
                                    <div class="col-6">
                                        <a style="float:right">
                                            {{ include('user/_delete_form.html.twig') }}
                                        </a>  
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}
